name: Cov & Docs

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.3.0
    - name: Run Coverage and Doxygen
      run: |
        sudo apt-get update
        sudo apt-get install -y lcov doxygen libsdl2-dev
        make coverage
        grep -qF "$(printf '\e[1;32mtest.py suite passed all tests!\e[0m')" build/debug/log/test*.log
        make docs
        mv build/debug/cov website/
        mv build/debug/coverage.svg website/
        mv docs website/
    - name: Deploy Coverage and Docs to Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        branch: gh-pages
        folder: website
